<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.katelynsuhr.boozebuddy">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">
        <activity android:name=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
        <!--<activity android:name=".SplashScreen"/>-->
        <activity
            android:name=".DiaryMain"
            android:label="Diary"
            android:parentActivityName=".MainActivity" />

        <activity android:name=".DiarySearch"
            android:parentActivityName=".DiaryMain"
            android:label="Search Drinks"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".DrinkOutput"
            android:parentActivityName=".DiarySearch"
            android:label="Add Drink"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".UserProfile"
            android:label="Profile"
            android:parentActivityName=".IntroMenu"
            android:screenOrientation="portrait"/>

        <activity android:name=".UserInfo"
            android:label="Profile Info"
            android:parentActivityName=".UserProfile"
            android:screenOrientation="portrait"/>

        <activity android:name=".EditInfo"
            android:parentActivityName=".UserInfo"
            android:label="Edit Profile"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".safety"
            android:label="@string/title_activity_safety"
            android:screenOrientation="portrait" />

        <activity
            android:name=".contactsearch"
            android:label="@string/title_activity_contact_view"
            android:screenOrientation="portrait" />

        <activity
            android:name=".partymode"
            android:label="Party Mode"
            android:screenOrientation="portrait" />

        <activity
            android:name=".spendingcalculator"
            android:parentActivityName=".UserProfile"
            android:label="Spending Calculator"
            android:screenOrientation="portrait" />

        <activity android:name=".BACCalculator"
            android:parentActivityName=".UserProfile"
            android:label="Calculate"
            android:screenOrientation="portrait" />

        <activity android:name=".Scanner"
            android:screenOrientation="portrait"/>
        <activity android:name=".IntroMenu"
            android:screenOrientation="portrait"/>
    </application>

</manifest>